# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Secrets & local config
.env
config.json

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
